@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Work+Sans:wght@400;500;800&display=swap);

/*
@font-face {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Work Sans', sans-serif;
  imported font names
}
 */
/* navigation bar */

#navbar{
  background-color: aqua;
  font-family: 'Merriweather', serif, 'Work Sans';
  position: fixed;
	width: 100%;
  max-width: 100%;
}

#navbar h1 {
  display: inline-block;
  font-family: 'Merriweather', serif, 'Work Sans';
}

#navbar ul {
  display: inline-block;
  list-style-type: none;
  width: 100%;
}


#navbar li {
  display: inline-block;
  position: relative;  
  padding-left: 50px;
  text-align: right;;
}

/* basics section */

#basics{
  padding: 100px 0px;
}

#basics h1{

}


/*
    padding: 40px;

#header-img{
  display: flex;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

#nav-bar #logo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav-bar label{
  margin-top: 19px;
  margin-left: 1vw;
}

#nav-bar ul{
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 45vw;
}

#nav-bar li{
  display: inline;
  margin-right: 1vw;
  padding-right: 5px;
  list-style: none;
} */
